.completeModal {
  text-align: center;
  margin: auto;
  padding: 2vw;
}

.dialog {
  border-radius: 10px;
  border-color: darkgray;
  background-color: darkgray;
  padding: 2vh 2vw;
  text-align: center;
  margin: auto;
}

.linkTitle {
  margin: 0;
  text-align: left;
}
